// BREAKPOINTS

// resolutions
$s:    768px;
$m:   1024px;
$l:   1440px;

$breakpoints: (
  'small-down':  ( max-width:  $s - 1 ),
  'small-up':    ( min-width:  $s ),

  'middle-down': ( max-width:  $m - 1 ),
  'middle-up':   ( min-width:  $m ),

  'large-down':  ( max-width:  $l - 1 ),
  'large-up':    ( min-width:  $l )
);

@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    @media  only screen and #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}

// ====================================
// Ultimate Ninjas Generator
// Version: 1.0.0 (20 Jan 2017)
// Made in Kodix with love and stuff.
// ====================================

// Add prefixes/suffixes
$ninja-map: (
  s: $s,
  m: $m,
  l: $l
);

// And let's get this party started
@mixin make-ninja($ninja-type,$ninja-mod,$ninja-mod2,$media,$media2) {
  $media-str: '';
  $media-smaller: $media - 1;
  $ninja_prefix: if($ninja-type == 'prefix' or $ninja-type == null, '#{$ninja-mod}_','');
  $ninja_suffix: if($ninja-type == 'suffix', '_#{$ninja-mod}','');
  $width-max-str:  'only screen and (max-width: #{$media-smaller}) ';
  $width-min-str: if($media2 == null, 'only screen and (min-width: #{$media}) ', ' , (min-width: #{$media2}) ');
  @if $ninja-mod2 == null {
    $media-str: if($ninja-type == 'suffix', #{$width-min-str}, #{$width-max-str});
  } @else {
    $media-str: '#{$width-max-str} #{$width-min-str}';
    $ninja_suffix: '_#{$ninja-mod2}';
  }
  @media #{$media-str} {
    .#{$ninja-prefix}ninja#{$ninja-suffix} {
      display: none !important;
    }
  }
}

$i: 0;
@each $ninja-mod, $media in $ninja-map {
  $i: $i + 1;
  $x: 0;
  @include make-ninja('suffix',$ninja-mod,null,$media,null);
  @include make-ninja('prefix',$ninja-mod,null,$media,null);
  @each $ninja-mod2, $media2 in $ninja-map {
    $x: $x + 1;
    @if $x > $i {
      @include make-ninja(null,$ninja-mod,$ninja-mod2,$media,$media2);
    }
  }
}

$gap-sizes: (
  -20,
  -15,
  -10,
  -5,
  5,
  10,
  15,
  20
);