@import "variables";

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.trs {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.center-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

